@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #111111;
  --color-text: #fff;
  --color-word: #daa520;
  --secndary-color: #222222;
}


@layer base {
  p {
    @apply text-[18px] lg:text-[25px] 2xl:text-[45px];
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
.dynamic-text {
  color: var(--color-word);
  font-weight: bold;
  font-size: 24px;
  position: relative;
}
.dynamic-text::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 150%;
  left: 0;
  background-color: var(--main-color);
  animation: typing 1.5s steps(20) infinite;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  border-left: 0.5px solid var(--color-word);
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
  50% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
  100% {
    left: -20%;
    margin: 0 -35px 0 35px;
  }
}

